.linha{
    display: inline-flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* alinha vertical */
    gap: 40px;           /* espaço entre imagens */
    width: 100%;
}
.linha{
    display: inline-flex;     
    width: 100%;
}
.jogador1 {
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* alinha vertical */
    gap: 40px;  
}
/*img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}*/
h1 {
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao {
  height: 30px;              /* altura */
  width: 300px;              /* largura */
  border: 5px solid red;     /* borda vermelha */

  display: flex;             /* ativa o layout flexível (Flexbox) */
  justify-content: center;   /* centraliza horizontal */
  align-items: center;       /* centraliza vertical */

  margin: 20px auto;              /* adiciona espaço externo ao redor do botão */
  text-align: center;        /* garante que o texto fique centralizado */
}